devenv.sh.settings
*.pyc
.project
.pydevproject
.metadata
hifiberrydsp.egg-info
.DS_Store
*.bak
tmp
/devenv.sh
/update
build
dist
*.tar.gz
deb_dist
debian/CONTENTS/
*.egg-info/
beocreate-universal-10.xml
update-clock
.vscode/settings.json
