Source: hifiberry-dsp
Section: utils
Priority: optional
Maintainer: HiFiBerry <info@hifiberry.com>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-python3,
               pybuild-plugin-pyproject,
               python3-all,
               python3-setuptools,
Standards-Version: 4.7.2
Homepage: https://github.com/hifiberry/hifiberry-dsp
Vcs-Git: https://github.com/hifiberry/hifiberry-dsp.git
Vcs-Browser: https://github.com/hifiberry/hifiberry-dsp

Package: hifiberry-dsp
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: HiFiBerry DSP toolkit
 Tools to configure HiFiBerry DSP boards and program them from SigmaStudio.
